@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400');

:root * {
  box-sizing: border-box;
}

:root *:focus {
  outline-offset: 3px;
  outline-color: rgb(84, 84, 84);
}

:root {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

:root::before {
  content: '';
  position: fixed;
  inset: 0;
  background-image: url('/img/background.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  background-color: #4079ec;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  padding-bottom: 40px;
  color: white;
}

.example {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

.button {
  color: white;
  cursor: pointer;
  border: 0;
  padding: 16px 20px;
  background-color: #1f2d40;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;
  transition: background-color;
}

button:hover {
  background-color: #344762;
}

button[disabled] {
  background-color: rgba(117, 117, 117, 0.87);
  cursor: default;
}

button img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.51);
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  margin: 16px 0px;
  font-size: 16px;
}

.navbar .lang-selector {
  position: relative;
  text-decoration: none;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.51);
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 8px 18px 8px 12px;
  margin: 16px 0px;
  font-size: 16px;
  background: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  width: 110px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M4 6L8 10L12 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position-x: calc(100% - 8px);
  background-position-y: 9px;
}

header {
  display: grid;
  margin-bottom: 20px;
  margin-top: 8px;
  color: white;
  justify-items: center;
}

header h1 {
  padding: 0;
  margin: 0;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
}

.items {
  min-height: 500px;
  background-color: #ffffffcc;
  backdrop-filter: blur(8px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.items__new-item {
  display: flex;
  padding: 32px;
  gap: 20px;
}

.items__new-item input {
  flex-grow: 1;
  background-color: white;
  border: none;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 18px;
}

.items__list {
  margin: 32px;
  flex-grow: 1;
}

.item {
  display: flex;
  padding: 10px 0px;
  margin: 0px 10px;
  color: black;
  border-bottom: 1px solid white;
}

.item__text {
  font-size: 18px;
  flex-grow: 1;
}

.item button {
  font-size: 15px;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 300;
}

.items__buttons {
  align-self: flex-end;
  margin: 32px;
  display: flex;
  gap: 20px;
}

.translation-methods {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

.translation-methods .tiles {
  margin: 50px auto 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  color: black;
}

.translation-methods .tiles > div {
  background-color: #ffffffcc;
  backdrop-filter: blur(8px);
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  min-height: 120px;
  gap: 10px;
}

.translation-methods .tiles > div > div {
  text-align: center;
}

.translation-methods h1 {
  padding: 0;
  margin: 0;
  color: #1f385b;
  font-size: 19px;
  font-weight: 500;
}

.load-more-section {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.translation-methods .section-title {
  position: relative;
  top: 30px;
  color: white;
}
