@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400');

.moving-gradient {
  background: linear-gradient(90deg, #ff6b6b, #f9c74f, #90be6d, #577590);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient-move 1s linear infinite;
}

@keyframes gradient-move {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}


  
  